.header {
    height: 40px;
    border: double 2px blue;
}

.navigation {
    height: 40px;
    border: double 2px green;
}

.banner {
    height: 390px;
    border: double 2px red;
}

.quick-posts {
    height: 250px;
    border: double 2px violet;
}

.article-and-aside {
    height: 400px;
    border: double 2px orchid;
}

.another {
    height: 400px;
    border: double 2px brown;
}

.new-feature {
    height: 400px;
    border: double 2px purple;
}